$borderColor: #e6e6e6;
$accentColor: #cda274;
$accentBGColor: #f4f0ec;
$titleTxtColor: #292f36;
$textColor: #4d5053;

@mixin jost($size, $weight, $height, $spacing) {
	font-family: Jost;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	letter-spacing: $spacing;
}

@mixin dmSerif($size, $height, $spacing) {
	font-family: DM Serif Display;
	font-size: $size;
	font-weight: 400;
	line-height: $height;
	letter-spacing: $spacing;
}